<!-- LOADER -->
<div *ngIf="loading" class="loading-alert">
  <div class="spinner"></div>
  <p>Envoi en cours...</p>
</div>

<div class="forgot-wrapper">
  <div class="forgot-card">

    <div class="forgot-left">
      <ng-lottie
        [options]="lottieOptions"
        (animationCreated)="onAnimationCreated($event)"
      ></ng-lottie>
    </div>

    <div class="forgot-right">
      <h2>Mot de passe<br>oublié ?</h2>

      <!-- ALERTES -->
      <div *ngIf="error" class="alert alert-danger alert-dismissible">
        {{ error }}
        <button type="button" class="close" (click)="error = null">&times;</button>
      </div>

      <div *ngIf="message" class="alert alert-success alert-dismissible">
        {{ message }}
        <button type="button" class="close" (click)="message = null">&times;</button>
      </div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <input 
          formControlName="email" 
          type="email" 
          placeholder="Votre Adresse e-mail" 
        />
        <button type="submit">RÉINITIALISER </button>
      </form>
       <a class="back" href="/login">Retour à la connexion</a>
    </div>

  </div>
</div>
