:host {
  display: block;
  padding-top: 80px; /* pour ne pas être caché par la navbar */
  background-color: #f8f9fa;
  min-height: 100vh;
}

.myservices-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px;
  gap: 40px;

  @media (max-width: 992px) {
    flex-direction: column;
    align-items: center;
  }
}

/* Colonne gauche - Agenda */
.agenda-section {
  flex: 1.3;
  background: linear-gradient(135deg, #051f3c, #4244bb);
  border-radius: 25px;
  padding: 35px 25px;
  box-shadow: 0 8px 24px rgba(33, 150, 243, 0.2);
  font-family: 'Poppins', sans-serif;
}

.title {
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.calendar-wrapper {
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #bbdefb;
  box-shadow: inset 0 0 8px rgba(187, 222, 251, 0.6);

  .fc {
    --fc-border-color: #e3f2fd;
    --fc-button-bg-color: #1463b1;
    --fc-button-border-color: #1565c0;
    --fc-button-hover-bg-color: #0d47a1;
    --fc-button-active-bg-color: #0d47a1;
    --fc-today-bg-color: #e3f2fd;
  }

  .fc-toolbar-title {
    font-size: 1.3rem;
    color: #0d47a1;
    font-weight: 600;
  }
 
}

/* Colonne droite */
.side-section {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center; // ← centre verticalement
  align-items: center;
  text-align: center;
  //background: linear-gradient(135deg, #e3f2fd, #ffffff);
  border-radius: 25px;
  padding: 30px 20px;
  //box-shadow: 0 6px 20px rgba(33, 150, 243, 0.15);
}

.image-wrapper {
  margin-bottom: 30px;
  background: #ffffff;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0 6px 20px rgba(33, 150, 243, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: contain;
  }
}


.button-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.btn {
  padding: 12px 25px;
  border-radius: 12px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  max-width: 320px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &.primary {
    background-color: #0b4382;
    color: white;

    &:hover {
      background-color: #0d47a1;
    }
  }

  &.secondary {
    background-color: #e3f2fd;
    color: #0d47a1;

    &:hover {
      background-color: #bbdefb;
    }
  }
}
