<div class="reset-wrapper">
  <div class="reset-card">

    <div class="reset-left">
      <ng-lottie [options]="lottieOptions" (animationCreated)="onAnimationCreated($event)"></ng-lottie>
    </div>

    <div class="reset-right">
      <h2>Réinitialiser<br>votre mot de passe</h2>

      <!-- ALERTES -->
      <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ errorMessage }}
        <button type="button" class="close" (click)="errorMessage = null" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
        {{ successMessage }}
        <button type="button" class="close" (click)="successMessage = null" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- LOADER -->
      <div *ngIf="loading" class="loading-alert">
        <div class="spinner"></div>
        <p>Connexion en cours...</p>
      </div>

      <!-- FORMULAIRE -->
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="input-wrapper">
          <input [type]="passwordVisible ? 'text' : 'password'" formControlName="motDePasse" placeholder="Nouveau mot de passe" />
          <i class="fas" [ngClass]="passwordVisible ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePasswordVisibility('motDePasse')"></i>
        </div>

        <div class="input-wrapper">
          <input [type]="confirmVisible ? 'text' : 'password'" formControlName="confirm" placeholder="Confirmer le mot de passe" />
          <i class="fas" [ngClass]="confirmVisible ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePasswordVisibility('confirm')"></i>
        </div>

        <button type="submit">Réinitialiser</button>
       
      </form>
      <a class="back" href="/login">Retour à la connexion</a>
    </div>
    

  </div>
</div>
