<div class="services-wrapper">

  <div class="header-row">
    <button class="back-btn" (click)="goBack()">
      <i class="fa fa-arrow-left"></i> Retour
    </button>

    <h2><i class="fa fa-calendar"></i> Upcoming Services</h2>
  </div>

  <div class="services-table-container">
    <table class="services-table">
      <thead>
        <tr>
          <th><i class="fa fa-user"></i> Customer</th>
          <th><i class="fa fa-map-marker"></i> Address</th>
          <th><i class="fa fa-box"></i> Pieces</th>
          <th><i class="fa fa-clock"></i> Date</th>
          <th><i class="fa fa-paper-plane"></i> Drones</th>
          <th><i class="fa fa-hourglass-half"></i> Time</th>
          <th><i class="fa fa-money"></i> Price</th>
          <th><i class="fa fa-map"></i></th>
          <th><i class="fa fa-check"></i></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let service of upcomingServices">
          <td>{{ service.customerName }}</td>
          <td>{{ service.address }}</td>
          <td>{{ service.pieces }}</td>
          <td>{{ service.date | date: 'dd/MM/yyyy' }}</td>
          <td>{{ service.droneCount }}</td>
          <td>{{ service.serviceTime }}</td>
          <td>{{ service.price }} dt</td>

          <td>
            <button class="icon-btn blue" (click)="openMap(service)">
              <i class="fa fa-map"></i>
            </button>
          </td>

          <td>
            <button class="icon-btn green" (click)="validate(service)">
              <i class="fa fa-check"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- POPUP MAP -->
  <div class="popup" *ngIf="showPopup">
    <div class="popup-content">
      <button class="close-btn" (click)="closePopup()">&times;</button>
      <iframe
        width="100%"
        height="100%"
        style="border:0;"
        [src]="googleMapUrl"
        allowfullscreen
      ></iframe>
    </div>
  </div>

</div>
