/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";


@import 'primeicons/primeicons.css';

 input,
textarea,
select {
    background: white !important;
    color: #1f2937;
   
}
html {
    color-scheme: light;
    background-color: #ffffff !important;
} 